* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Georgia', serif;
    background-color: #bee5cf;
    color: #09351b;
}

nav {
    background-color:	#5cbe86;
    font-weight: 400;
    color: #cce7d8
}

nav ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
    padding: 1.5rem;
    gap: 4vw;
    /* box-shadow: 2px 12px rgba(0,0,0,0.06) */
}

nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    align-items: center;
    padding: .5rem;
}

nav li {
    list-style: none;
}

nav li:hover {
    text-decoration: underline;
    color: rgb(74, 121, 64);
}

.page-content {
    margin: 20px 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0vw;
    align-items: stretch;
    justify-content: center;
}

.contact-col, .page-col, .cv-col {
    border-radius: 5%;
    padding: 20px 40px;
    justify-content: center;

}

.cv-col p {
    font-size: 1.15em;
    line-height: 1.7;
    text-align: justify;
    margin-bottom: 1em;
}

.contact-col {
    flex:1;
    background-color: #a6e6c1;
    color: #304e3c;
}

.page-col h1 {
  font-size: 1.65em;
  margin-bottom: 0.3em;
  font-weight: bold;
}

.page-col p {
  font-size: 1.15em;
  line-height: 1.7;
  text-align: justify;
  margin-bottom: 1em;
}

.bio-text ul {
    list-style-image: url("assets/ico.png");
    padding-left: 20px;  /* gives space for bullets */
    margin: 0;
}

.bio-text li {
    font-size: 1.15em;
    margin-bottom: 8px;
    line-height: 1.6;
}


.photo-col img {
    width: 25vw;
}

.photo-col-cv img {
    width: 23vw;
    margin: 20px 0px;
}

.photo-col-research img {
    width: 30vw;
    margin: 20px 20px;
}


.bio-text {
  background: rgba(255, 255, 255, 0.01);
  padding: 36px 40px;
  border-radius: 16px;
  margin-bottom: 0;
  margin-top: 0;
}

.bio-text h1 {
  font-size: 2em;
  margin-bottom: 0.3em;
  font-weight: bold;
}

.bio-text p {
  font-size: 1.15em;
  line-height: 1.7;
  text-align: justify;
  margin-bottom: 1em;
}

.bio-text {
    flex: 3.5;
}


.top-row {
    display: flex;
    flex-direction: row;
    gap: 4vw;
    justify-content: left;
}

@media (max-width: 1000px) {
    .page-content {
        margin: 20px 40px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1vw;
        align-items: center;
        justify-content: center;
    }
}